@use "../abstracts/variables" as vars;

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que el cuerpo ocupe todo el alto de la pantalla */
}

.container {
  flex: 1; /* Esto permite que el contenido ocupe el espacio restante */
}

footer {
  background-color: vars.$primary-color;
  color: vars.$text-color-light;
  padding: 40px 0;
  text-align: center;
  margin-top: auto; /* Esto asegura que el footer se mantenga en la parte inferior */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-section {
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;

    h5 {
      margin-bottom: 15px;
      font-size: 1.25rem;
      border-bottom: 2px solid vars.$secondary-color;
      display: inline-block;
      padding-bottom: 5px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: vars.$text-color-light;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: vars.$link-hover-color;
          }
        }
      }
    }

    p {
      margin: 0;
    }
  }
}

.social-media {
  margin-top: 20px;

  a {
    color: vars.$text-color-light;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;

    &:hover {
      color: vars.$link-hover-color;
    }
  }
}

p {
  margin-top: 20px;
}
