@use "../abstracts/variables" as vars;
@use "../animations/animations" as animations;

.hero {
  position: relative;
  min-height: 60vh;
  color: vars.$text-color-light;
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(270deg, #09bfa0, vars.$gradiente, #531c56, #09bfa0),
    url('../img/hero.jpg');
  background-size: 800% 800%, cover;
  background-position: 0% 50%, center;
  background-repeat: no-repeat, no-repeat;
  animation: GradientAnimation 15s ease infinite;

  .hero-content {
    max-width: 800px;
    width: 100%;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto 2rem auto;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

// Animación específica
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
