{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}


{% block content %}
<div class="containerColums">
    <div>
<h2>Iniciar Sesión</h2>
<p>ingresa los datos de inicio de sesión</p>



<form method="POST" class="container mt-5">
    {{ form.hidden_tag() }}
    
    <!-- Campo de correo -->
    <div class="mb-3">
        {{ form.correo.label(class="form-label") }} <!-- Etiqueta -->
        {{ form.correo(class="form-control", size=32) }} <!-- Campo de entrada con Bootstrap -->
    </div>
    
    <!-- Campo de contraseña -->
    <div class="mb-3">
        {{ form.contrasena.label(class="form-label") }}
        {{ form.contrasena(class="form-control", size=32) }}
    </div>
    
    <!-- Botón y enlace -->
    <div class="d-flex justify-content-between align-items-center">
        <input type="submit" value="Iniciar Sesión" class="cta-button"> <!-- Botón de Bootstrap -->
        <a href="/registro_solicitante" class="enlaces">¿No tienes cuenta? Regístrate</a>
    </div>
</form>

</div>

<div class="button-container">
    <img src="/static/img/logo_oscuro.png" alt="Logo" class="img-fluid">
</div>

</div>


{% if form.errors %}
    <ul class="errors">
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
