{% extends "base.html" %}

{% block title %}Proceso de Solicitud{% endblock %}



{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="post" action="{{ url_for('proceso_solicitud') }}">
    {{ form.hidden_tag() }}
    {{ form.empresa.label }} {{ form.empresa(size=32) }}
    {{ form.puesto.label }} {{ form.puesto(size=32) }}
    {{ form.antiguedad.label }} {{ form.antiguedad(size=32) }}
    {{ form.sueldo.label }} {{ form.sueldo() }}
    {{ form.nomina.label }} {{ form.nomina() }}
    {{ form.importe.label }} {{ form.importe() }}
    {{ form.periodicidad.label }} {{ form.periodicidad() }}
    {{ form.cantidad_pago.label }} {{ form.cantidad_pago() }}
    {{ form.submit() }}
</form>



{% endblock %}
