{% extends "base.html" %}

{% block title %}Menu Inicio - LendEase{% endblock %}

{% block content %}

<ul class="nav justify-content-center">

    <li class="nav-item">
      <a class="enlaces" href="#inicio">Inicio</a>
    </li>

    <li class="nav-item">
      <a class="enlaces" href="#preguntas">Preguntas Frecuentes</a>
    </li>

    <li class="nav-item">
        <a class="enlaces" href="#como funciona">Como funciona</a>
      </li>
    </ul>

    <li class="nav-item">
        <a class="enlaces" href="#contactos">Contactanos</a>
    </li>
    
</ul>

{% endblock %}